.env
.env.*
.DS_Store
.idea/
.vscode/
.pytest_cache/
.python-version
.ruff_cache/
.venv/
.coverage
.coverage.*
artifacts/
data/
dist/
htmlcov/
__pycache__/
*.h5ad
*.h5mu
tmp/
Screenshot 2026-04-06 at 3.49.03 pm.png
fold_efs_and_src_model_0.cif
fold_cathy01_model_0.cif
Structural Analysis Pipeline/ProteinMPNN/.git-backup/
